/*ブラウザがそれぞれ持っているCSSをリセットするための記述*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 50px;
  background-color: #ff9a4b;
}

.step-box {
  margin: 50px auto;
  width: 960px;
  display: flex;
  flex-wrap: wrap;
}

.step-item {
  width: 300px;
  background-color: #eeeeee;
  padding: 10px;
  margin-right: 30px;
  position: relative;
}

.step-item:nth-child(3) {
  margin-right: 0;
}

.step1-image {
  height: 150px;
  background-size: cover;
  background-position: bottom;
  background-image: url(img/flow01.png);
}

.step2-image {
  height: 150px;
  background-size: cover;
  background-position: bottom;
  background-image: url(img/flow02.png);
}

.step3-image {
  height: 150px;
  background-size: cover;
  background-position: bottom;
  background-image: url(img/flow03.png);
}

.step-number {
  color: #fff;
  background-color: #ff9a4b;
  position: absolute;
  top: 0;
  left: 0;
}

.step-title {
  padding-top: 15px;
  padding-bottom: 5px;
}

footer {
  width: 100%;
  height: 50px;
  background-color: #aaaaaa;
}